@{
    this.ViewData["Title"] = "Home";
}
<!-- Main Content -->
@using EveryDayBlog.Web.ViewModels.Home.ViewModels;
@model IndexViewModel

<partial name="~/Views/Shared/Partials/_MiddleBlogHeaderPartial.cshtml" />


<div class="container">
    <div class="row mb-2">
        <div class="col-md-12 col-lg-6">
            @if (Model.SearchString != null)
            {
                <strong>Търсене на: </strong>@Model.SearchString
            }
        </div>
        <div class="col-md-12 col-lg-6 text-right">
            <form method="post" asp-controller="Home" asp-action="Index">
                <input type="hidden" name="SearchString" value="@Model.SearchString">
                <input type="hidden" name="Page" value="@Model.PageNumber">
                <span class="text-muted">Сортирай:</span>
                <select name="SortBy" id="SortBy" onchange="this.form.submit();">
                    <option value="1" selected="@(Model.SortBy.ToString() == "Newest" ? true : false)">Newest</option>
                    <option value="2" selected="@(Model.SortBy.ToString() == "Oldest" ? true : false)">Oldest</option>
                    @*<option value="3" selected="@(Model.SortBy.ToString() == "RatedDescending" ? true : false)">Цена(низх.)</option>
                        <option value="4" selected="@(Model.SortBy.ToString() == "RatedAscending" ? true : false)">Цена(възх.)</option>*@
                </select>
            </form>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-preview">
                <a href="post.html">
                    <h2 class="post-title">
                        Man must explore, and this is exploration at its greatest
                    </h2>
                    <h3 class="post-subtitle">
                        Problems look mighty small from 150 miles up
                    </h3>
                </a>
                <p class="post-meta">
                    Posted by
                    <a href="#">Start Bootstrap</a>
                    on September 24, 2019
                </p>
            </div>



            <hr>
            <div class="post-preview">
                <a href="post.html">
                    <h2 class="post-title">
                        I believe every human has a finite number of heartbeats. I don't intend to waste any of mine.
                    </h2>
                </a>
                <p class="post-meta">
                    Posted by
                    <a href="#">Start Bootstrap</a>
                    on September 18, 2019
                </p>
            </div>
            <hr>
            <div class="post-preview">
                <a href="post.html">
                    <h2 class="post-title">
                        Science has not yet mastered prophecy
                    </h2>
                    <h3 class="post-subtitle">
                        We predict too much for the next year and yet far too little for the next ten.
                    </h3>
                </a>
                <p class="post-meta">
                    Posted by
                    <a href="#">Start Bootstrap</a>
                    on August 24, 2019
                </p>
            </div>
            <hr>
            <div class="post-preview">
                <a href="post.html">
                    <h2 class="post-title">
                        Failure is not an option
                    </h2>
                    <h3 class="post-subtitle">
                        Many say exploration is part of our destiny, but it’s actually our duty to future generations.
                    </h3>
                </a>
                <p class="post-meta">
                    Posted by
                    <a href="#">Start Bootstrap</a>
                    on July 8, 2019
                </p>
            </div>
            <hr>
            <!-- Pager -->
            <div class="clearfix">
                <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
            </div>
        </div>
    </div>
</div>
<hr>

@section Scripts {
    <script src="~/js/rating.js"></script>
}